:root {
  --background-color: #292b2f;
}

* {
  box-sizing: border-box;
  object-fit: contain;
  /* prettier-ignore */
  font-family:
      "Helvetica Neue",             /* Apple en */
      "Segoe UI",                   /* Windows en */
      "Hiragino Kaku Gothic ProN",  /* Apple ja */
      "Hiragino Sans",              /* Apple ja */
      "Yu Gothic",                  /* Windows ja */
      sans-serif;
}

body {
  background-color: var(--background-color);
}
