.green {
  background-color: var(--myGreen);
}

.yellow {
  background-color: var(--myYellow);
}

.red {
  background-color: var(--myRed);
}

.greenText {
  color: var(--myGreen);
}

.yellowText {
  color: var(--myYellow);
}

.redText {
  color: var(--myRed);
}
