.timeText {
  position: absolute;
  top: 33.3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skillText {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--myGray);
  padding: 0.6vh;
  border-radius: 0.9vh;
}
