.single,
.double,
.triple {
  p {
    white-space: pre;
    span {
      display: block;
      line-height: 1.4;
    }
  }
}

.triple {
  width: calc(
    (var(--oneThirdWidth) * 2 + var(--paddingX) - (var(--halfPaddingX) * 2)) / 3
  );
  &:not(:last-child) {
    margin-right: var(--halfPaddingX);
  }

  p {
    font-size: var(--fourthRowFontSize);
    span {
      font-size: var(--doubleSkillFontSize);
    }
  }
}

.double {
  width: 100%;
  display: flex;
  p {
    font-size: var(--traitFontSize);
    span {
      font-size: var(--doubleSkillFontSize);
    }
  }
}

.single {
  width: 100%;
  p {
    font-size: var(--traitFontSize);
    span {
      font-size: var(--hunterSelectFontSize);
    }
  }
}
