.timeText {
  position: absolute;
  top: 33.3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skillText {
  position: absolute;
  top: 66.7%;
  left: 50%;
  transform: translate(-50%, -50%);

  //   background-color: var(--myGray);
  //   padding: 0.3vh;
  //   border-radius: 0.6vh;

  //   span {
  //     // color: var(--myGreen);
  //     // font-size: 50% !important;
  //   }
}
