.hunterSelect {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: var(--hunterSelectFontSize);
  background-color: var(--myGreen);
  border: none;
  border-radius: 0;
  color: var(--myGray);
}
