.hunterSelect {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: var(--hunterSelectFontSize);

  background-color: var(--myGreen);
  border: none;
  // border: var(--halfPadding) solid var(--myGray);
  // border-width: 0 var(--halfPadding);
  color: var(--myGray);
}
