.persona {
  height: var(--middleHeight);
  p {
    display: inline-block;
    font-size: 2.25vh;
    line-height: 1.8;
  }
  .vertical {
    height: var(--hunterSelectHeight);
    margin-bottom: var(--halfPaddingY);
    &.top {
      display: flex;
      .confinedSpace {
        margin-right: var(--halfPaddingX);
        width: calc(
          var(--oneThirdWidth) - var(--wantedOrderWidth) - var(--halfPaddingX)
        );
      }

      .wantedOrder {
        width: var(--wantedOrderWidth);
        p {
          font-size: 2vh;
        }
      }
    }
  }

  .flexContainer {
    display: flex;
    .horizontal {
      height: calc(var(--hunterSelectHeight) * 2);
      width: calc((var(--oneThirdWidth) - var(--halfPaddingX)) / 2);
      margin-bottom: var(--halfPaddingY);
      &.left {
        margin-right: var(--halfPaddingX);
        .insolenceValueText {
          font-size: 3vh;
        }
      }
    }
  }
}
