.persona {
  height: var(--middleHeight);
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 80%;
  }
  .vertical {
    height: var(--hunterSelectHeight);
    margin-bottom: var(--halfPaddingY);

    &.top {
      display: flex;
      .confinedSpace {
        margin-right: var(--halfPaddingX);
        width: calc(
          var(--oneThirdWidth) - var(--wantedOrderWidth) - var(--halfPaddingX)
        );
      }

      .wantedOrder {
        width: var(--wantedOrderWidth);
      }
    }
  }
}

.flexContainer {
  display: flex;
  .horizontal {
    height: calc(var(--hunterSelectHeight) * 2);
    width: calc((var(--oneThirdWidth) - var(--halfPaddingX)) / 2);
    margin-bottom: var(--halfPaddingY);
    svg {
      max-height: 50%;
    }
    &.left {
      margin-right: var(--halfPaddingX);
      p {
        margin-bottom: 1vh;
        font-size: var(--insolenceValueFontSize);
      }

      svg {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0);
      }
    }
  }
}
