.secondRowRightDiv {
  width: calc(var(--oneThirdWidth) * 2 + var(--paddingX));

  .hunterSelectAndLanguage {
    height: var(--hunterSelectHeight);
    margin-bottom: var(--halfPaddingY);
    display: flex;

    .hunterSelectSec {
      width: var(--oneThirdWidth);
      height: 100%;
      margin-right: var(--paddingX);
    }

    .languageSwitch {
      width: var(--oneThirdWidth);
    }
  }

  .hunterSkillTimerSec {
    display: flex;
    height: var(--hunterTimerHeight);
  }
}
