.startButton {
  p {
    position: absolute;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    font-size: 1.75vh;
    top: 50%;
    left: 50%;
    span {
      font-size: 3.5vh;
      vertical-align: sub;
    }

    &.start {
      top: 45%;
      font-size: 7.5vh;
      line-height: 1.2;
    }

    &.description {
      top: 82.5%;
      font-size: 1.25vh;
      line-height: 1.2;
    }
  }
  .credit {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.5vh;
      margin-right: 0.5vh;
    }
    a {
      //   background-color: aqua;
      display: inline-block;
      svg {
        // width: 12.5vw;
        // max-height: calc(var(--edgeHeight) / 2);
        height: calc(var(--edgeHeight) * 0.4);
        max-width: 12.5vw;
      }
    }
  }

  &.twitterColor {
    background-color: rgb(29, 155, 240);
    // background-color: #fd79a8;
    background-color: rgb(249, 24, 128);
  }
}
