.startButton {
  p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: var(--text-middle);
    span {
      font-size: var(--number-small);
      // vertical-align:baseline;
    }

    &.start {
      top: 42.5%;
      font-size: var(--number-large);
      line-height: 1.2;
    }

    &.description {
      top: 80%;
      font-size: var(--text-small);
      line-height: 1.2;
    }
    &.gateOpen {
      font-size: 4.5vh;
    }

    &.firstLine {
      top: 30%;
    }

    &.secondLine {
      top: 70%;
    }
  }
}
