.traitTimeText {
  font-size: var(--traitFontSize);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svgContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 40%;
  display: flex;
  .halfContainer {
    position: relative;
    width: 50%;
    height: 100%;
  }
}
