section.eachColumn {
  position: relative;
  width: var(--other-column-width);
  &.base {
    width: var(--base-column-width);
  }
  div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    input,
    p {
      font-size: 1.85vh;
      line-height: 2;
    }

    input {
      &.diameter,
      &.price {
        text-align: center;
        border-radius: 1.5vh;
      }
      &.diameter {
        width: 4em;
      }
      &.price {
        width: 4em;
      }

      &.base {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        border: 2px solid #ffffff;
        cursor: pointer;
        height: 3vh;
        width: 3vh;
        transition: 0.2s all linear;

        &:hover {
          border-width: 4px;
          transition: none;
        }

        &:checked {
          border-width: 1vh;
          transition: 0.2s all linear;
        }

        // &.inactive {
        //   border-color: rgba(255, 255, 255, 0.2);
        //   cursor: not-allowed;
        //   &:hover {
        //     border-width: 2px;
        //   }
        // }
      }
    }
    span {
      position: relative;
      font-size: 1.6vh;
      top: 0.8vh;
      left: 0.4vh;
    }
  }
}
