.footer {
  border-top: 2px solid var(--main-border-color);
  height: var(--footer-height);
  section.linkWrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
    div {
      height: 100%;
      position: relative;
      a {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.5vh;
        font-size: max(calc(var(--vh, 1vh) * 1.5), 9px);
        img {
          &.twitter {
            height: calc(var(--footer-height) * 0.375);
          }
          // &#github {
          //   height: calc(var(--footer-height) * 0.4);
          // }
        }
      }
    }
  }
}
