.header {
  border-bottom: 2px solid var(--main-border-color);
  height: var(--header-height);
  width: 100%;
  position: relative;
  section.logoSec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      height: 7vh;
      height: calc(var(--vh, 1vh) * 7);
    }
    p {
      font-size: 1.75vh;
      font-size: max(calc(var(--vh, 1vh) * 1.75), 10px);
    }
  }
}
