section.labelSec {
  display: flex;
  width: 100%;
  div {
    position: relative;
    width: var(--other-column-width);

    &.base {
      width: var(--base-column-width);
    }

    h2 {
      font-size: 1.75vh;
      font-size: max(calc(var(--vh, 1vh) * 1.75), 10.5px);
      line-height: 1.65;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}

section.row {
  height: var(--row-height);
}
