main.main {
  width: 100%;
  section.calcSec {
    width: 100%;

    section.pizzaSec {
      width: 100%;
    }
  }
  section.buttonSec {
    width: 100%;
    height: var(--button-sec-height);
    section.buttonCopy {
      width: 100%;
      height: var(--button-copy-height);
      position: relative;
      p {
        font-size: 1.8vh;
        font-size: max(calc(var(--vh, 1vh) * 1.8), 10px);
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    section.button {
      height: var(--button-body-height);
      display: flex;
      justify-content: space-around;
    }
  }
}
